Repository ChrisLey521/shining-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint, pnpm stylelint

feat: Tag组件雏形
  .stylelintrc.json
  packages/components/index.css
  packages/components/index.ts
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/sn-button/index.ts
  packages/components/sn-tag/index.ts
  packages/components/sn-tag/src/tag.vue
  packages/components/sn-tag/src/type.ts
  packages/components/type.ts
  packages/theme-chalk/styles/index.css
  packages/theme-chalk/styles/uno.css
  packages/theme-chalk/styles/variables.css
  pnpm-lock.yaml
  tsconfig.json
  uno.config.ts
Due: pnpm eslint, pnpm stylelint

feat: Tag添加closable api
  .lintstagedrc
  packages/components/sn-tag/src/tag.vue
  packages/components/type.ts
  packages/theme-chalk/styles/uno.css
Due: pnpm eslint, pnpm stylelint

feat: Icon组件基准
  packages/components/sn-icon/index.ts
  packages/components/sn-icon/src/const.ts
  packages/components/sn-icon/src/icon.vue
  packages/components/sn-icon/src/type.ts
Due: pnpm eslint

feat: 添加系统图标
  packages/components/index.ts
  packages/components/sn-button/src/button.vue
  packages/components/sn-icon/index.ts
  packages/components/sn-icon/src/const.ts
  packages/components/sn-icon/src/type.ts
  packages/components/sn-tag/src/tag.vue
  packages/theme-chalk/styles/uno.css
  pnpm-lock.yaml
  uno.config.ts
Due: pnpm eslint, pnpm stylelint

feat; 常量抽离
  packages/components/package.json
  packages/components/sn-button/index.ts
  packages/components/sn-button/src/button.vue
  packages/components/sn-button/src/const.ts
  packages/components/sn-button/src/style.css
  packages/components/sn-button/src/type.ts
  packages/components/sn-icon/index.ts
  packages/components/sn-icon/src/const.ts
  packages/components/sn-tag/src/tag.vue
  packages/components/sn-tag/src/type.ts
  packages/components/type.ts
  packages/constants/common.ts
  packages/constants/index.ts
  packages/theme-chalk/styles/uno.css
  pnpm-lock.yaml
Due: pnpm eslint, pnpm stylelint

chore: icon名称调整
  packages/components/sn-icon/src/const.ts
  packages/components/sn-icon/src/type.ts
Due: pnpm eslint

feat: 添加系统图标
  packages/components/sn-icon/src/const.ts
Due: pnpm eslint

feat:完成button组件
  packages/components/sn-button/src/button.vue
  packages/components/sn-button/src/const.ts
  packages/components/sn-button/src/style.css
  packages/components/sn-button/src/type.ts
  packages/components/sn-icon/src/type.ts
  packages/constants/common.ts
  packages/theme-chalk/styles/directives.css
  packages/theme-chalk/styles/index.css
  packages/theme-chalk/styles/uno.css
  pnpm-lock.yaml
  tsconfig.json
  uno.config.ts
Due: pnpm eslint, pnpm stylelint

feat: docs init
  .gitignore
  docs/.vitepress/components/layout/index.vue
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/layout/index.vue
  docs/api-examples.md
  docs/components/index.md
  docs/guide/index.md
  docs/index.md
  docs/markdown-examples.md
  docs/package.json
  package.json
  packages/components/sn-button/src/const.ts
  pnpm-lock.yaml
Due: pnpm eslint

feat: docs prepare
  docs/.vitepress/components/layout/index.vue
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/layout/index.vue
  docs/.vitepress/theme/style.css
  docs/components/index.md
  docs/guide/index.md
  docs/index.md
  docs/locales/en/components/index.md
  docs/locales/en/examples/api-examples.md
  docs/locales/en/examples/index.md
  docs/locales/en/examples/markdown-examples.md
  docs/locales/en/guide/index.md
  docs/locales/en/index.md
  docs/locales/zh/components/button/index.md
  docs/locales/zh/components/index.md
  docs/locales/zh/examples/api-examples.md
  docs/locales/zh/examples/index.md
  docs/locales/zh/examples/markdown-examples.md
  docs/locales/zh/guide/index.md
  docs/locales/zh/index.md
  docs/package.json
  packages/theme-chalk/package.json
  pnpm-lock.yaml
Due: pnpm eslint, pnpm stylelint

feat: docs 侧边栏配置
  docs/.vitepress/config.ts
  docs/.vitepress/locales/en/lang.json
  docs/.vitepress/locales/en/lang.yaml
  docs/.vitepress/locales/index.ts
  docs/.vitepress/locales/zh/lang.json
  docs/.vitepress/locales/zh/lang.yaml
  docs/package.json
  docs/pages/en/components/button.md
  docs/pages/en/components/index.md
  docs/pages/en/examples/api-examples.md
  docs/pages/en/examples/index.md
  docs/pages/en/examples/markdown-examples.md
  docs/pages/en/guide/index.md
  docs/pages/en/index.md
  docs/pages/zh/components/button/index.md
  docs/pages/zh/components/index.md
  docs/pages/zh/examples/api-examples.md
  docs/pages/zh/examples/index.md
  docs/pages/zh/examples/markdown-examples.md
  docs/pages/zh/guide/index.md
  docs/pages/zh/index.md
  package.json
  packages/utils/index.ts
  packages/utils/load.ts
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm eslint

feat: docs配置unocss，封装示例展示组件
  README.md
  docs/.vitepress/components/exhibition-card/index.vue
  docs/.vitepress/config.ts
  docs/.vitepress/config/index.ts
  docs/.vitepress/config/locales.ts
  docs/.vitepress/config/nav.ts
  docs/.vitepress/config/sidebar.ts
  docs/.vitepress/config/vite.ts
  docs/.vitepress/locales/en/lang.json
  docs/.vitepress/locales/en/lang.yaml
  docs/.vitepress/locales/index.ts
  docs/.vitepress/locales/zh/lang.json
  docs/.vitepress/locales/zh/lang.yaml
  docs/.vitepress/styles/index.css
  docs/.vitepress/styles/style.css
  docs/.vitepress/theme/index.ts
  docs/package.json
  docs/pages/zh/components/button.md
  docs/pages/zh/components/button/index.md
  docs/postcss.config.js
  docs/uno.config.ts
  package.json
  packages/components/index.css
  packages/components/index.ts
  packages/components/sn-icon/index.ts
  pnpm-lock.yaml
  postcss.config.js
  tsconfig.json
Due: pnpm eslint, pnpm stylelint

fix: docs移除示例展示组件的图标按钮边框
  docs/.vitepress/components/exhibition-card/index.vue
Due: pnpm eslint

feat: docs 添加文档编写示例
  docs/.vitepress/config/sidebar.ts
  docs/.vitepress/locales/en/lang.json
  docs/.vitepress/locales/zh/lang.json
  docs/pages/zh/examples/doc-examples.md
Due: pnpm eslint

feat:提交一点点一点点的tooltip
  packages/components/index.ts
  packages/components/sn-button/package.json
  packages/components/sn-tooltip/index.ts
  packages/components/sn-tooltip/src/const.ts
  packages/components/sn-tooltip/src/tooltip.vue
  packages/components/sn-tooltip/src/type.ts
  packages/theme-chalk/styles/uno.css
Due: pnpm eslint, pnpm stylelint

feat:修button按钮的circle时的loading
  packages/components/sn-button/src/button.vue
  pnpm-lock.yaml
Due: pnpm eslint

feat: docs 配置优化nav/sidebar
  docs/.vitepress/config/index.ts
  docs/.vitepress/config/locales.ts
  docs/.vitepress/config/nav.ts
  docs/.vitepress/config/sidebar.ts
  docs/.vitepress/config/vite.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/vitepress/common/code-fence.vue
  docs/.vitepress/vitepress/common/exhibition-card.vue
  docs/.vitepress/vitepress/demos/button/basic.vue
  docs/.vitepress/vitepress/layout/index.vue
  docs/package.json
  docs/pages/en/examples/doc-examples.md
  docs/pages/zh/components/button.md
  docs/tsconfig.json
  docs/uno.config.ts
  pnpm-lock.yaml
Due: pnpm eslint

docs: 支持组件示例并添加站点图标
  docs/.vitepress/config/index.ts
  docs/.vitepress/config/nav.ts
  docs/.vitepress/config/plugins.ts
  docs/.vitepress/config/theme.ts
  docs/.vitepress/config/vite.ts
  docs/.vitepress/locales/index.ts
  docs/.vitepress/plugins/md/api-list.ts
  docs/.vitepress/plugins/md/demo.ts
  docs/.vitepress/plugins/vite/md-transformer.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/vitepress/common/exhibition-card.vue
  docs/.vitepress/vitepress/demos/button/basic.vue
  docs/package.json
  docs/pages/en/components/button.md
  docs/pages/zh/components/button.md
  docs/pages/zh/components/doc-examples.md
  docs/public/favicon.ico
  docs/public/images/logo.png
  docs/uno.config.ts
  internal/build-constants/index.js
  internal/build-constants/package.json
  internal/build-constants/src/index.js
  internal/build-constants/src/paths.js
  internal/build-constants/src/repo.js
  package.json
  packages/components/sn-button/src/button.vue
  packages/components/sn-button/src/const.ts
  packages/components/sn-button/src/type.ts
  packages/components/sn-tag/src/tag.vue
  packages/theme-chalk/styles/uno.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm eslint, pnpm stylelint

chore: 移除pmpm-lock.yaml
  pnpm-lock.yaml
Due: none

docs: 修正basic-button在小屏设备上的显示效果
  docs/.vitepress/vitepress/demos/button/basic.vue
Due: pnpm eslint

chore: 变更npm源
  .npmrc
Due: none

chore: 变更npm源
  .npmrc
  pnpm-lock.yaml
Due: none

feat:完善一点点的tooltip组件
  docs/.vitepress/theme/index.ts
  docs/pages/zh/components/tooltip.md
  packages/components/sn-tooltip/src/const.ts
  packages/components/sn-tooltip/src/tooltip.vue
  packages/components/sn-tooltip/src/type.ts
  packages/theme-chalk/styles/uno.css
Due: pnpm eslint, pnpm stylelint

feat:合并main分支到feat-tooltip改正
  .gitignore
  docs/.vitepress/theme/index.ts
  pnpm-lock.yaml
Due: pnpm eslint

docs: api类型添加tooltip
  docs/.vitepress/config/plugins.ts
  docs/.vitepress/config/vite.ts
  docs/.vitepress/plugins/md/api-list.ts
  docs/.vitepress/plugins/md/list-container.ts
  docs/.vitepress/plugins/md/tagify.ts
  docs/.vitepress/plugins/md/type-tooltip.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/vitepress/common/api-type.vue
  docs/.vitepress/vitepress/common/code-fence.vue
  docs/.vitepress/vitepress/composables/lang.ts
  docs/pages/en/components/button.md
  docs/pages/zh/components/button.md
Due: pnpm eslint

feat: 开始创建tooltip directive
  docs/.vitepress/theme/index.ts
  docs/.vitepress/vitepress/demos/doc-examples/basic.vue
  docs/package.json
  docs/pages/en/components/tooltip.md
  docs/pages/en/examples/doc-examples.md
  docs/pages/zh/components/doc-examples.md
  docs/pages/zh/components/tooltip.md
  docs/pages/zh/examples/doc-examples.md
  docs/pages/zh/examples/index.md
  package.json
  packages/components/package.json
  packages/directives/index.js
  packages/directives/package.json
  packages/directives/tooltip/index.ts
  packages/directives/tooltip/src/const.ts
  packages/directives/tooltip/src/index.ts
  packages/directives/tooltip/src/tooltip.vue
  packages/directives/tooltip/src/type.ts
  packages/directives/tooltip/src/utils.ts
  packages/theme-chalk/package.json
  packages/theme-chalk/styles/uno.css
  pnpm-lock.yaml
  tsconfig.json
  uno.config.ts
Due: pnpm eslint, pnpm stylelint

feat: 添加v-tooltip指令
  docs/.vitepress/locales/en/lang.json
  docs/.vitepress/locales/index.ts
  docs/.vitepress/locales/zh/lang.json
  docs/.vitepress/plugins/md/tagify.ts
  docs/.vitepress/plugins/md/type-tooltip.ts
  docs/.vitepress/styles/index.css
  docs/.vitepress/styles/index.scss
  docs/.vitepress/styles/style.scss
  docs/.vitepress/theme/index.ts
  docs/.vitepress/vitepress/common/api-type.vue
  docs/.vitepress/vitepress/common/exhibition-card.vue
  docs/.vitepress/vitepress/composables/lang.ts
  docs/package.json
  docs/pages/zh/components/button.md
  docs/pages/zh/examples/index.md
  packages/components/sn-tag/src/tag.vue
  packages/directives/click-outside/index.ts
  packages/directives/click-outside/src/index.ts
  packages/directives/tooltip/src/const.ts
  packages/directives/tooltip/src/index.ts
  packages/directives/tooltip/src/tooltip.vue
  packages/directives/tooltip/src/type.ts
  packages/directives/tooltip/src/utils.ts
  packages/theme-chalk/styles/uno.css
  pnpm-lock.yaml
Due: pnpm eslint, pnpm stylelint

feat: add dropdown comp
  docs/.vitepress/config/sidebar.ts
  docs/.vitepress/locales/en/lang.json
  docs/.vitepress/locales/zh/lang.json
  docs/.vitepress/theme/index.ts
  docs/.vitepress/vitepress/demos/dropdown/basic.vue
  docs/.vitepress/vitepress/demos/tag/basic.vue
  docs/.vitepress/vitepress/demos/tooltip/basic.vue
  docs/pages/en/components/dropdown.md
  docs/pages/en/components/icon.md
  docs/pages/en/components/tag.md
  docs/pages/zh/components/dropdown.md
  docs/pages/zh/components/icon.md
  docs/pages/zh/components/tag.md
  packages/components/dropdown/index.ts
  packages/components/dropdown/src/dropdown-item.vue
  packages/components/dropdown/src/dropdown-menu.vue
  packages/components/dropdown/src/dropdown.vue
  packages/components/dropdown/src/index.ts
  packages/components/dropdown/src/type.ts
  packages/components/index.ts
  packages/components/overlay/src/overlay.vue
  packages/components/tag/src/type.ts
  packages/components/tooltip/src/type.ts
  packages/constants/popper.ts
  packages/directives/tooltip/src/tooltip.vue
  packages/utils/dom.ts
Due: pnpm eslint

feat/components: 重构floating
  docs/.vitepress/vitepress/demos/tooltip/directive.vue
  packages/components/dropdown/src/dropdown.vue
  packages/components/dropdown/src/type.ts
  packages/components/floating/index.ts
  packages/components/floating/src/content.vue
  packages/components/floating/src/floating.vue
  packages/components/floating/src/index.ts
  packages/components/floating/src/trigger.vue
  packages/components/floating/src/type.ts
  packages/components/index.ts
  packages/components/overlay/src/overlay.vue
  packages/components/overlay/src/type.ts
  packages/components/package.json
  packages/components/tooltip/src/tooltip.vue
  packages/components/tooltip/src/type.ts
  packages/composables/floating/index.ts
  packages/composables/floating/type.ts
  packages/composables/timer/index.ts
  packages/constants/floating.ts
  packages/directives/click-outside/src/index.ts
  packages/directives/tooltip/src/index.ts
  packages/directives/tooltip/src/tooltip.vue
  packages/directives/tooltip/src/type.ts
  packages/directives/tooltip/src/utils.ts
  pnpm-lock.yaml
Due: pnpm eslint

fix/components: 修复floating内容鼠标进入后无法选中文字的问题
  docs/.vitepress/vitepress/demos/dropdown/basic.vue
  docs/package.json
  packages/components/dropdown/src/dropdown.vue
  packages/components/dropdown/src/type.ts
  packages/components/floating/src/floating.vue
  packages/directives/tooltip/src/tooltip.vue
  packages/utils/dom.ts
Due: pnpm eslint

feat/components: 正确定位Floating
  packages/components/floating/src/floating.vue
  packages/components/floating/src/trigger.vue
  packages/components/floating/src/type.ts
  packages/directives/tooltip/src/index.ts
  packages/directives/tooltip/src/tooltip.vue
Due: pnpm eslint

fix/directives: 修复vTooltip卸载时导致的异常
  packages/components/dropdown/src/dropdown.vue
  packages/components/floating/src/content.vue
  packages/components/floating/src/floating.vue
  packages/components/floating/src/trigger.vue
  packages/components/floating/src/type.ts
  packages/components/overlay/src/overlay.vue
  packages/directives/tooltip/src/index.ts
  packages/directives/tooltip/src/tooltip.vue
Due: pnpm eslint

docs/fix: 移除组件demo示例代码多余的反引号
  docs/.vitepress/plugins/md/demo.ts
  docs/pages/zh/components/index.md
Due: pnpm eslint

components/feat: 使用provide/inject为floating提供开启关闭方法并应用到dropdown-item
  docs/.vitepress/vitepress/demos/dropdown/basic.vue
  packages/components/dropdown/src/dropdown-item.vue
  packages/components/dropdown/src/dropdown-menu.vue
  packages/components/dropdown/src/dropdown.vue
  packages/components/dropdown/src/index.ts
  packages/components/dropdown/src/type.ts
  packages/components/floating/src/content.vue
  packages/components/floating/src/floating.vue
  packages/components/floating/src/trigger.vue
  packages/components/floating/src/type.ts
  packages/composables/floating/index.ts
  packages/composables/floating/type.ts
  packages/theme-chalk/styles/uno.css
Due: pnpm eslint, pnpm stylelint

docs: 添加按钮中文文档
  .stylelintrc.json
  docs/.vitepress/theme/index.ts
  docs/.vitepress/vitepress/common/exhibition-card.vue
  docs/.vitepress/vitepress/demos/button/basic.vue
  docs/.vitepress/vitepress/demos/button/custom.vue
  docs/.vitepress/vitepress/demos/button/disabled.vue
  docs/.vitepress/vitepress/demos/button/ghost.vue
  docs/.vitepress/vitepress/demos/button/group.vue
  docs/.vitepress/vitepress/demos/button/icon.vue
  docs/.vitepress/vitepress/demos/button/link.vue
  docs/.vitepress/vitepress/demos/button/loading.vue
  docs/.vitepress/vitepress/demos/button/size.vue
  docs/.vitepress/vitepress/demos/button/tag.vue
  docs/.vitepress/vitepress/demos/dropdown/split-button.vue
  docs/pages/en/components/button.md
  docs/pages/zh/components/button.md
  docs/pages/zh/components/dropdown.md
  package.json
  packages/components/button/index.ts
  packages/components/button/src/button-group.vue
  packages/components/button/src/button.vue
  packages/components/button/src/const.ts
  packages/components/button/src/styles.scss
  packages/components/button/src/type.ts
  packages/components/dropdown/src/dropdown-item.vue
  packages/components/dropdown/src/dropdown-menu.vue
  packages/components/dropdown/src/dropdown.vue
  packages/components/dropdown/src/type.ts
  packages/components/floating/src/content.vue
  packages/components/floating/src/floating.vue
  packages/components/floating/src/type.ts
  packages/composables/floating/type.ts
  packages/theme-chalk/styles/index.css
  packages/theme-chalk/styles/uno.css
  packages/theme-chalk/styles/variables.css
Due: pnpm eslint, pnpm stylelint

docs: 调整按钮文档在小屏设备上的显示
  docs/.vitepress/vitepress/common/api-type.vue
  docs/.vitepress/vitepress/demos/button/basic.vue
  docs/.vitepress/vitepress/demos/button/custom.vue
  docs/.vitepress/vitepress/demos/button/disabled.vue
  docs/.vitepress/vitepress/demos/button/ghost.vue
  docs/.vitepress/vitepress/demos/button/group.vue
  docs/.vitepress/vitepress/demos/button/icon.vue
  docs/.vitepress/vitepress/demos/button/link.vue
  docs/.vitepress/vitepress/demos/button/loading.vue
  docs/.vitepress/vitepress/demos/button/size.vue
  docs/.vitepress/vitepress/demos/button/tag.vue
  docs/pages/en/components/button.md
  docs/pages/zh/components/button.md
Due: pnpm eslint

docs: 微调按钮中文文档描述以及按钮尺寸展示
  docs/.vitepress/vitepress/demos/button/custom.vue
  docs/.vitepress/vitepress/demos/button/size.vue
  docs/pages/en/components/button.md
  docs/pages/zh/components/button.md
Due: pnpm eslint

Path conditions:
  pnpm eslint: any of: {*.vue,*.ts,*.js}
  pnpm stylelint: any of: *.css
